<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <h1 class="text-center">Bienvenido al Sistema de Novaedd</h1>
            <p class="text-center">Te damos la bienvenida a nuestra plataforma. Descubre todas nuestras soluciones y servicios.</p>
        </div>
        <div class="col-md-6" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <img src="/assets/images/logonovaedd.jpeg" alt="Logo de la empresa" class="img-fluid mx-auto d-block">
        </div>
    </div>
</div>
