<div class="container">
    <div class="row">
        <div>
            <h1><fa-icon [icon]="faMobileAlt" class="icon recargas"></fa-icon> Recargas</h1>
        </div>
    </div>

    <div class="cardContainer">
        <div class="card" (click)="redirectToFormRecargas()">
            <p class="recarga">Recarga</p>
            <svg
            version="1.1"
            id="Layer_1"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            xml:space="preserve"
            >
                <image id="image0"
                width="100"
                height="100"
                x="0"
                y="0"
                href="/assets/images/telcel.png"
                />
            </svg>
            <p class="compania">Telcel</p>
        </div>

        <div class="card" (click)="redirectToFormRecargas()">
            <p class="recarga">Recarga</p>
            <svg
            version="1.1"
            id="Layer_1"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            xml:space="preserve"
            >
                <image id="image0"
                width="100"
                height="100"
                x="0"
                y="0"
                href="/assets/images/movistar.png"
                />
            </svg>
            <p class="compania">Movistar</p>
        </div>

        <div class="card" (click)="redirectToFormRecargas()">
            <p class="recarga">Recarga</p>
            <svg
            version="1.1"
            id="Layer_1"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            xml:space="preserve"
            >
                <image id="image0"
                width="100"
                height="100"
                x="0"
                y="0"
                href="/assets/images/movistar.png"
                />
            </svg>
            <p class="compania">Movistar</p>
        </div>
    </div>
</div>