<div class="container">
    <div class="row">
        <h1><fa-icon [icon]="faCubes"></fa-icon> Administración de Modulos</h1>
    </div>

    <div class="card shadow mb-4" id="spacesTable">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold"><fa-icon [icon]="faCubes"></fa-icon> Listado de módulos</h6>
        </div>
        <div class="card-body">
            <div class="campos">
                <fa-icon [icon]="faSearch"></fa-icon><input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                <select [(ngModel)]="rowsPerPage" class="form-control" (change)="updateTable()" id="searchRows">
                <option *ngFor="let option of rowsPerPageOptions" [value]="option">{{ option }}</option>
                </select>
                <ul class="example-2">
                    <li class="icon-content">
                        <a href="#" aria-label="Agregar Módulo" data-social="agregar">
                            <div class="filled"></div>
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </a>
                        <div class="tooltip">Agregar</div>
                    </li>
                </ul>
            </div>
            <div class="scrollable-table" style="overflow: auto; height: 400px">
                <div class="row mb-3">
                    <table id="usuariosTable" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Edo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>Cobros Uso Plataforma</td>
                                <td>Cobros_Uso_Plataforma</td>
                                <td class="toggle-cell">
                                    <div class="toggle-border">
                                        <input id="one" type="checkbox">
                                        <label for="one">
                                            <div class="handle"></div>
                                        </label>
                                    </div>
                                </td>
                                <td>$0.00</td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>RecargaT</td>
                                <td>10</td>
                                <td class="toggle-cell">
                                    <div class="toggle-border">
                                        <input id="two" type="checkbox">
                                        <label for="two">
                                            <div class="handle"></div>
                                        </label>
                                    </div>
                                </td>
                                <td>$0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
