<div class="container">
    <div class="row">
        <h1><fa-icon [icon]="faPencilAlt" class="icon editar"></fa-icon> Editar usuario</h1>
    </div>
</div>
<div class="form-container">
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="form-row">
            <div class="input-wrapper">
                <input type="text" placeholder="Usuario" name="usuario" class="input" [(ngModel)]="usuario" (input)="validarCampos()">
                <label class="placeholder">Usuario</label>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Clave" name="clave" class="input" [(ngModel)]="clave" (input)="validarCampos()">
                <label class="placeholder">Clave</label>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Teléfono" name="telefono" class="input" [(ngModel)]="telefono" (input)="validarCampos()">
                <label class="placeholder">Teléfono</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-wrapper">
                <input type="text" placeholder="Teléfono 2" name="telefono2" class="input" [(ngModel)]="telefono2" (input)="validarCampos()">
                <label class="placeholder">Teléfono 2</label>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Nombre(s)" name="nombre" class="input" [(ngModel)]="nombre" (input)="validarCampos()">
                <label class="placeholder">Nombre(s)</label>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Apellido(s)" name="apellidos" class="input" [(ngModel)]="apellidos" (input)="validarCampos()">
                <label class="placeholder">Apellido(s)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-wrapper">
                <input type="text" placeholder="Email" name="email" class="input" [(ngModel)]="email" (input)="validarCampos()">
                <label class="placeholder">Email</label>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Celular" name="celular" class="input" [(ngModel)]="celular" (input)="validarCampos()">
                <label class="placeholder">Celular</label>
            </div>
            <div class="input-wrapper">
                <select name="horario" class="input" [(ngModel)]="horario" (change)="validarCampos()">
                    <option value="">Seleccione un horario</option>
                    <option value="10">$10</option>
                    <option value="20">$20</option>
                    <option value="30">$30</option>
                </select>
                <label class="placeholder">Horario</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-wrapper">
                <select name="permisos" class="input" [(ngModel)]="permisos" (change)="validarCampos()">
                    <option value="">Seleccione un permiso</option>
                    <option value="10">$10</option>
                    <option value="20">$20</option>
                    <option value="30">$30</option>
                </select>
                <label class="placeholder">Permisos</label>
            </div>
            <div class="input-wrapper">
                <select name="tipoUsuario" class="input" [(ngModel)]="tipoUsuario" (change)="validarCampos()">
                    <option value="">Seleccione un tipo de usuario</option>
                    <option value="10">$10</option>
                    <option value="20">$20</option>
                    <option value="30">$30</option>
                </select>
                <label class="placeholder">Tipo de usuario</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-wrapperbtn">
                <button class="cssbuttons-io-button" type="submit" [disabled]="!camposCompletos">
                    <span>Aceptar</span>
                </button>
            </div>
            <div class="input-wrapperbtn">
                <button class="btnregresar" type="button" (click)="volverPagina()">
                    <span>Regresar</span>
                </button>
            </div>
            <div class="input-wrapperbtn">
                <button class="btneliminar" type="button" (click)="eliminarUsuario()">
                    <span>Eliminar</span>
                </button>
            </div>
        </div>
    </form>
</div>
