<div class="container">
    <div class="row">
        <h1><fa-icon [icon]="faUser"></fa-icon> Usuarios</h1>
    </div>
    <div class="card shadow mb-4" id="spacesTable">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold"><fa-icon [icon]="faUser"></fa-icon> Listado de usuarios</h6>
        </div>
        <div class="card-body">
            <div class="campos">
                <fa-icon [icon]="faSearch"></fa-icon><input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                <select [(ngModel)]="rowsPerPage" class="form-control" (change)="updateTable()" id="searchRows">
                  <option *ngFor="let option of rowsPerPageOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
            <div class="scrollable-table" style="overflow: auto; height: 400px;">
                <div class="row mb-3">
                    <table id="usuariosTable" class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>Id</th>
                                <th>Username</th>
                                <th>Nombre(s)</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>No. Celular</th>
                                <th>Permisos</th>
                                <th>Horario</th>
                                <th>Vende por</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>Paulo123</td>
                                <td>Paulo Emmanuel</td>
                                <td>Valadez Gómez</td>
                                <td>paulo@gmail.com</td>
                                <td>4776009669</td>
                                <td>SuperAdmin</td>
                                <td>gmt-0</td>
                                <td>Cualquiera</td>
                                <td>
                                    <ul class="example-2">
                                        <li class="icon-content">
                                            <a href="/editar-usuario" aria-label="Editar" data-social="editar">
                                                <div class="filled"></div>
                                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                                            </a>
                                            <div class="tooltip">Editar</div>
                                        </li>
                                        <li class="icon-content">
                                            <a href="#" aria-label="Eliminar" data-social="eliminar">
                                                <div class="filled"></div>
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </a>
                                            <div class="tooltip">Eliminar</div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>Rocha123</td>
                                <td>Francisco Javier</td>
                                <td>Rocha Aldana</td>
                                <td>rocha@gmail.com</td>
                                <td>4771234567</td>
                                <td>SuperAdmin</td>
                                <td>gmt-0</td>
                                <td>Cualquiera</td>
                                <td>
                                    <ul class="example-2">
                                        <li class="icon-content">
                                            <a href="/editar-usuario" aria-label="Editar" data-social="editar">
                                                <div class="filled"></div>
                                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                                            </a>
                                            <div class="tooltip">Editar</div>
                                        </li>
                                        <li class="icon-content">
                                            <a href="#" aria-label="Eliminar" data-social="eliminar">
                                                <div class="filled"></div>
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </a>
                                            <div class="tooltip">Eliminar</div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
